%btn {
  padding: 0.7rem;
  border-radius: 0.7rem;
  outline: none;
  border-style: none;
  box-shadow: $primary-shadow;
  color: $font-color-light;
}

.btn-show {
  @extend %btn;
  background-color: $button-color-ok;
}

.btn-submit {
  @extend %btn;
}

.btn-comment-submit {
  @extend %btn;
  width: 100%;
  background-color: $button-color-ok;
  margin: 0.5rem 0;
}

.btn-new-comment,
.btn-show-comments {
  @extend %btn;
  font-size: 0.8rem;
  background-color: $button-color-ok;
}

.btn-disabled {
  @extend %btn;
  text-decoration: line-through;
}
