#form {
  @include flex;
  background-color: $tertiary-color;
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: $primary-shadow;
  input,
  textarea {
    outline: none;
    border: 0;
    padding: 0.4rem;
    margin: 1rem 0;
    width: 100%;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    color: grey;
  }
  input {
    border-bottom: 0.1rem solid hsla(0, 0%, 80%, 0.6);
  }
  .btn-submit {
    background-color: $button-color-ok;
    color: $font-color-light;
    &:hover {
      @extend %hover;
      background-color: lighten($button-color-ok, 5%);
      border-bottom: 0.2rem solid darken($button-color-ok, 15%);
    }
    &:active {
      @extend %active;
    }
  }
}

#form,
#formAuthorInfo {
  display: flex;
  justify-content: space-between;
}

#formAuthorInfo {
  input {
    padding: 0.4rem;
    width: 40%;
    border-radius: 0.2rem;
  }
}
