@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

@import '_colorVariables';

header {
  height: 8rem;
  background-color: $secondary-background;
}

nav {
  @include flex(row);
  width: 80%;
  margin: 2.5rem auto;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
