@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

$primary-background: hsl(0, 0%, 95%);
$secondary-background: hsl(313, 24%, 48%);

$primary-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.15);

$post-background: hsl(0, 0%, 100%);

$danger: hsl(0, 47%, 39%);
$change: hsl(212, 47%, 39%);
$ok: hsl(120, 47%, 39%);

/* posts */

.post {
  margin: 1rem 0;
  width: 90%;
  min-height: 15rem;
  background-color: $post-background;
  border-radius: 1rem;
  display: flex;
  box-shadow: $primary-shadow;
}

.post-img {
  border-radius: 50%;
  overflow: hidden;
  flex: 1;
  height: 100%;
  max-width: 10rem;
  // max-width: 30%;
  background-color: aqua;
  img {
    width: 100%;
  }
}

.post-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

%post-inner-body {
  width: 90%;
  padding: 1rem;
}

.post-title {
  @extend %post-inner-body;
  height: 20%;
  border-bottom: 0.1rem solid hsla(0, 0%, 80%, 0.6);
  text-transform: uppercase;
}

.post-text {
  @include flex;
  @extend %post-inner-body;
  height: 70%;
  justify-content: space-between;
  em {
    @include flex(row);
    justify-content: flex-end;
    p {
      text-transform: capitalize;
    }
  }
}

.post-admin {
  @extend %post-inner-body;
  @include flex(row);
  height: 10%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
  .delete {
    color: $danger;
    font-size: 1.5rem;
  }
  .update {
    color: $change;
    font-size: 1.5rem;
  }
}

.post-footer {
  @extend %post-inner-body;
  @include flex(row);
  justify-content: space-between;
}

.post-crud {
  @include flex(row);
  width: 20%;
  justify-content: space-between;
}
