@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

$primary-background: hsl(0, 0%, 95%);
$secondary-background: hsl(313, 24%, 48%);

$primary-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.15);

$post-background: hsl(0, 0%, 100%);

$danger: hsl(0, 47%, 39%);
$change: hsl(212, 47%, 39%);
$ok: hsl(120, 47%, 39%);

/* extends */

%post-inner-body {
  width: 90%;
  padding: 0.5rem;
}

%post-body-template {
  flex: 1;
  @include flex;
  align-items: center;
  margin: 1rem 0;
  max-height: 100%;
}

/* posts */

.post {
  margin: 1rem 0;
  width: 90%;
  min-height: 15rem;
  max-height: 50rem;
  background-color: $post-background;
  border-radius: 1rem;
  display: flex;
  box-shadow: $primary-shadow;
}

.post-body {
  @extend %post-body-template;
}

.post-title {
  @extend %post-inner-body;
  height: 3rem;
  border-bottom: 0.1rem solid hsla(0, 0%, 80%, 0.6);
  text-transform: uppercase;
  h3 {
    height: 100%;
  }
}

.post-text {
  @include flex;
  @extend %post-inner-body;
  height: 70%;
  max-height: 30rem;
  justify-content: space-between;
  overflow: scroll;
  margin: 0.5rem 0;
  em {
    @include flex(row);
    justify-content: flex-end;
    p {
      text-transform: capitalize;
    }
  }
}

.post-admin {
  @include flex(row);
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  .delete {
    color: $danger;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  .update {
    color: $change;
    font-size: 1.5rem;
  }
}

.post-footer {
  @extend %post-inner-body;
  @include flex(row);
  justify-content: space-between;
  height: 25%;
  max-height: 5rem;
}

.comments-control {
  @include flex(row);
  justify-content: space-between;
  min-width: 15rem;
  align-items: center;
  .btn-new-comment,
  .btn-show-comments {
    @extend %btn;
    font-size: 0.8rem;
  }
}

.comment-input {
  padding: 0.5rem 0.5rem;
  background-color: $post-background;
  input,
  textarea {
    font-size: 0.9rem;
    outline: none;
    border: 0;
    padding: 0.4rem;
    margin: 1rem 0;
    border-radius: 0.2rem;
    background-color: $post-background;
  }

  .comment-text {
    margin-top: 0.5rem;
    width: 100%;
    max-height: 3.5rem;
  }

  .comment-form-input-row {
    border-bottom: 0.1rem solid hsla(0, 0%, 80%, 0.4);
    min-width: 90%;
    @include flex(row);
    justify-content: space-between;
    align-items: center;
  }

  .comment-author,
  .comment-title {
    margin: 0.5rem 0;
    width: 40%;
  }

  .btn-comment-submit {
    @extend %btn;
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: $ok;
    margin: 0.5rem 0;
  }
}

.commentsSection {
  display: none;
}

.comments-list {
  display: none;
}

.comment-body {
  @include flex;
  @extend %post-inner-body;
}
