#deckOfPosts,
#formDiv {
  @include flex;
  align-items: center;
  margin: 0.5rem auto;
}

#inputSection {
  display: none;
}

#formDiv {
  margin: 1rem auto 0 auto;
  width: 90%;
}

@media (min-width: 400px) {
  #deckOfPosts {
    width: 80%;
  }
}

@media (min-width: 768px) {
  #deckOfPosts {
    @include flex(row);
    width: 90%;
  }
}
